{
  "openapi": "3.0.3",
  "info": {
    "title": "Israel CBS (Central Bureau of Statistics) API",
    "description": "Unofficial OpenAPI specification for the Israel CBS APIs, covering Series, Price Indices, and Dictionary endpoints.",
    "version": "1.0.0",
    "contact": {
      "name": "CBS Israel",
      "url": "https://www.cbs.gov.il"
    }
  },
  "servers": [
    {
      "url": "https://apis.cbs.gov.il/series",
      "description": "Series API - Statistical time series"
    },
    {
      "url": "https://api.cbs.gov.il/index",
      "description": "Price Index API - CPI and price indices"
    },
    {
      "url": "https://api.cbs.gov.il/dictionary",
      "description": "Dictionary API - Geographic and classification data"
    }
  ],
  "paths": {
    "/catalog/level": {
      "get": {
        "tags": ["Series"],
        "summary": "Browse catalog by level",
        "description": "Get catalog items at a specific hierarchical level (1-5). Level 1 returns top-level categories.",
        "operationId": "getSeriesCatalogByLevel",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Level number (1-5)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 5 }
          },
          {
            "name": "subject",
            "in": "query",
            "description": "First-level category code (required from level 2+)",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml", "csv", "xls"], "default": "json" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": { "type": "integer", "default": 100, "maximum": 1000 }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog items",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CatalogResponse" }
              }
            }
          }
        }
      }
    },
    "/catalog/path": {
      "get": {
        "tags": ["Series"],
        "summary": "Browse catalog by path",
        "description": "Get catalog items using a specific hierarchical path (L1,L2,L3,L4,L5).",
        "operationId": "getSeriesCatalogByPath",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Comma-separated path codes (e.g., '2,1,1,2,379')",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml", "csv", "xls"], "default": "json" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": { "type": "integer", "default": 100, "maximum": 1000 }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog items at specified path",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CatalogResponse" }
              }
            }
          }
        }
      }
    },
    "/data/list": {
      "get": {
        "tags": ["Series"],
        "summary": "Get series data by ID",
        "description": "Retrieve time series data points for one or more series codes.",
        "operationId": "getSeriesData",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Series code(s), comma-separated for multiple",
            "schema": { "type": "string" }
          },
          {
            "name": "startPeriod",
            "in": "query",
            "description": "Start date (mm-yyyy format)",
            "schema": { "type": "string", "pattern": "^\\d{2}-\\d{4}$" }
          },
          {
            "name": "endPeriod",
            "in": "query",
            "description": "End date (mm-yyyy format)",
            "schema": { "type": "string", "pattern": "^\\d{2}-\\d{4}$" }
          },
          {
            "name": "last",
            "in": "query",
            "description": "Number of latest entries to return",
            "schema": { "type": "integer" }
          },
          {
            "name": "addNull",
            "in": "query",
            "description": "Include empty values",
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "data_hide",
            "in": "query",
            "description": "Return metadata only (no data points)",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml", "csv", "xls"], "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "Series data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SeriesDataResponse" }
              }
            }
          }
        }
      }
    },
    "/catalog/catalog": {
      "get": {
        "tags": ["Price Index"],
        "summary": "Get price index chapters",
        "description": "List all main chapters in the price index catalog.",
        "operationId": "getPriceIndexChapters",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml"], "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of chapters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PriceChapter" }
                }
              }
            }
          }
        }
      }
    },
    "/catalog/chapter": {
      "get": {
        "tags": ["Price Index"],
        "summary": "Get chapter topics",
        "description": "Get topics within a specific price index chapter.",
        "operationId": "getPriceIndexChapterTopics",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Chapter ID",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml"], "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics in chapter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PriceTopic" }
                }
              }
            }
          }
        }
      }
    },
    "/catalog/subject": {
      "get": {
        "tags": ["Price Index"],
        "summary": "Get index codes by subject",
        "description": "Get price index codes for a specific subject/topic.",
        "operationId": "getPriceIndexCodesBySubject",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Subject/topic ID",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml"], "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of index codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PriceIndexCode" }
                }
              }
            }
          }
        }
      }
    },
    "/data/price": {
      "get": {
        "tags": ["Price Index"],
        "summary": "Get price index values",
        "description": "Retrieve price index values by index code with optional date range.",
        "operationId": "getPriceIndexValues",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Index code",
            "schema": { "type": "string" }
          },
          {
            "name": "startPeriod",
            "in": "query",
            "description": "Start date (mm-yyyy)",
            "schema": { "type": "string" }
          },
          {
            "name": "endPeriod",
            "in": "query",
            "description": "End date (mm-yyyy)",
            "schema": { "type": "string" }
          },
          {
            "name": "last",
            "in": "query",
            "description": "Number of latest values",
            "schema": { "type": "integer" }
          },
          {
            "name": "coef",
            "in": "query",
            "description": "Include adjustment coefficients",
            "schema": { "type": "boolean" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml"], "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "Price index data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PriceDataResponse" }
              }
            }
          }
        }
      }
    },
    "/data/calculator/{id}": {
      "get": {
        "tags": ["Price Index"],
        "summary": "Calculate index adjustment",
        "description": "Compute index-based adjustment between two dates, optionally for a specific amount.",
        "operationId": "calculatePriceIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Index code",
            "schema": { "type": "string" }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date (mm-dd-yyyy or yyyy-mm-dd)",
            "schema": { "type": "string" }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End date (mm-dd-yyyy or yyyy-mm-dd)",
            "schema": { "type": "string" }
          },
          {
            "name": "sum",
            "in": "query",
            "description": "Amount to adjust",
            "schema": { "type": "number" }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": { "type": "string", "enum": ["he", "en"], "default": "he" }
          },
          {
            "name": "format",
            "in": "query",
            "schema": { "type": "string", "enum": ["json", "xml"], "default": "json" }
          }
        ],
        "responses": {
          "200": {
            "description": "Calculator result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PriceCalculatorResult" }
              }
            }
          }
        }
      }
    },
    "/{subject}/{resource}": {
      "get": {
        "tags": ["Dictionary"],
        "summary": "Search dictionary resource",
        "description": "Search within a dictionary resource (e.g., localities, districts).",
        "operationId": "searchDictionaryResource",
        "parameters": [
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "Dictionary subject (e.g., 'geo')",
            "schema": { "type": "string" }
          },
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "description": "Resource name (e.g., 'localities', 'districts', 'regions')",
            "schema": { "type": "string" }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search text",
            "schema": { "type": "string" }
          },
          {
            "name": "string_match_type",
            "in": "query",
            "schema": { "type": "string", "enum": ["BEGINS_WITH", "CONTAINS", "EQUALS"] }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field with direction (+field/-field)",
            "schema": { "type": "string" }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Display related dictionaries",
            "schema": { "type": "string" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated field list",
            "schema": { "type": "string" }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter expression (f1={xxx}&f2={xxx})",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": { "type": "integer", "default": 100, "maximum": 250 }
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary items",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DictionaryResponse" }
              }
            }
          }
        }
      }
    },
    "/{subject}/{resource}/{ids}": {
      "get": {
        "tags": ["Dictionary"],
        "summary": "Get dictionary items by ID",
        "description": "Retrieve specific dictionary items by their IDs.",
        "operationId": "getDictionaryItemsByIds",
        "parameters": [
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "description": "Comma-separated IDs",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary items",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DictionaryResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "nameEng": { "type": "string" },
          "parentCode": { "type": "string" },
          "level": { "type": "integer" },
          "path": { "type": "string" },
          "seriesCount": { "type": "integer" },
          "childCount": { "type": "integer" }
        }
      },
      "CatalogResponse": {
        "type": "object",
        "properties": {
          "level": { "type": "integer" },
          "subject": { "type": "string" },
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CatalogItem" }
          },
          "totalItems": { "type": "integer" },
          "page": { "type": "integer" },
          "pageSize": { "type": "integer" }
        }
      },
      "SeriesDataPoint": {
        "type": "object",
        "properties": {
          "date": { "type": "string" },
          "value": { "oneOf": [{ "type": "number" }, { "type": "string" }, { "type": "null" }] },
          "statusCode": { "type": "string" },
          "statusText": { "type": "string" }
        }
      },
      "SeriesInfo": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "nameEng": { "type": "string" },
          "unit": { "type": "string" },
          "unitEng": { "type": "string" },
          "frequency": { "type": "string" },
          "lastUpdate": { "type": "string" },
          "subject": { "type": "string" }
        }
      },
      "SeriesDataResponse": {
        "type": "object",
        "properties": {
          "series": { "$ref": "#/components/schemas/SeriesInfo" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SeriesDataPoint" }
          },
          "totalItems": { "type": "integer" }
        }
      },
      "PriceChapter": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "nameEng": { "type": "string" }
        }
      },
      "PriceTopic": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "nameEng": { "type": "string" },
          "chapterId": { "type": "string" }
        }
      },
      "PriceIndexCode": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "name": { "type": "string" },
          "nameEng": { "type": "string" },
          "subjectId": { "type": "string" },
          "base": { "type": "string" }
        }
      },
      "PriceDataPoint": {
        "type": "object",
        "properties": {
          "date": { "type": "string" },
          "value": { "oneOf": [{ "type": "number" }, { "type": "string" }, { "type": "null" }] },
          "change": { "oneOf": [{ "type": "number" }, { "type": "string" }, { "type": "null" }] },
          "base": { "type": "string" }
        }
      },
      "PriceDataResponse": {
        "type": "object",
        "properties": {
          "index": { "$ref": "#/components/schemas/PriceIndexCode" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PriceDataPoint" }
          },
          "totalItems": { "type": "integer" }
        }
      },
      "PriceCalculatorResult": {
        "type": "object",
        "properties": {
          "originalAmount": { "type": "number" },
          "adjustedAmount": { "type": "number" },
          "coefficient": { "type": "number" },
          "startDate": { "type": "string" },
          "endDate": { "type": "string" },
          "indexCode": { "type": "string" },
          "startValue": { "type": "number" },
          "endValue": { "type": "number" }
        }
      },
      "DictionaryItem": {
        "type": "object",
        "properties": {
          "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }] },
          "name_heb": { "type": "string" },
          "name_eng": { "type": "string" },
          "year": { "type": "integer" }
        },
        "additionalProperties": true
      },
      "DictionaryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DictionaryItem" }
          },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "pageSize": { "type": "integer" }
        }
      }
    }
  }
}
